body {
	font-family: "Ubuntu", sans-serif;
	width: 100%;
	margin: 0px;
	background-color: #1b1c1d;
  }
  
  .title {
	width: 100%;
	margin: 30px auto;
	box-sizing: border-box;
	color: #e6e7e8;
  }
  
  .container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
  }
  .container .col {
	height: 50px;
	float: left;
	display: inline-block;
	margin: 5px 1%;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	color: #2185d0;
	border: 2px solid #2185d0;
	box-sizing: border-box;
	transition: ease-in 0.5s;
  }
  .container .col:hover {
	background-color: #2185d0;
	color: #fff;
  }
  
  .container > .col-1 {
	width: 6.3333333333%;
  }
  
  .container > .col-2 {
	width: 14.6666666667%;
  }
  
  .container > .col-3 {
	width: 23%;
  }
  
  .container > .col-4 {
	width: 31.3333333333%;
  }
  
  .container > .col-5 {
	width: 39.6666666667%;
  }
  
  .container > .col-6 {
	width: 48%;
  }
  
  .container > .col-7 {
	width: 56.3333333333%;
  }
  
  .container > .col-8 {
	width: 64.6666666667%;
  }
  
  .container > .col-9 {
	width: 73%;
  }
  
  .container > .col-10 {
	width: 81.3333333333%;
  }
  
  .container > .col-11 {
	width: 89.6666666667%;
  }
  
  @media (min-width: 1024px) {
	.title, .container {
	  width: 960px;
	}
  }
  
  @media (max-width: 600px) {
	.container > .col {
	  width: 48%;
	}
  }
  
  @media (max-width: 360px) {
	.container > .col {
	  width: 98%;
	}
  }